<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="./scripts/angular/angular.min.js"></script>
</head>
<body>

	<div>
		-- read only (ng-readonly) <br />
		<input type="text" ng-model="someProperty1" placeholder="Type to Enable">
		<input ng-readonly="!someProperty1" value="Text in readonly input " />
	</div>
	
	<div>
		-- enable textarea after 5 seconds<br />
		<textarea ng-disabled="isDisabled" name="" id="" cols="30" rows="10" ng-model="hintText"></textarea>
	</div>

	<div>
		-- enable button after property is not false<br />
		<input type="text" ng-model="someProperty" placeholder="Type to Enable">
		<button ng-model="button" ng-disabled="!someProperty">A Button</button>
	</div>

	<script>
	var app = angular.module("myApp", []);
	app.run(function($rootScope, $timeout) {
		$rootScope.isDisabled = true;
		$rootScope.hintText = "Wait for 5 seconds";
		$timeout(function(){
			$rootScope.isDisabled = false;
		$rootScope.hintText = "Please write";
		}, 5000);
	});
	app.controller('MyController', ['$scope', '$filter', function($scope, $filter){

	}]);
	
	</script>
</body>
</html>