<!doctype html>
<html ng-app="cartApp">
	<head>
		<link rel="stylesheet" type="text/css" href="styles/todo.css">
		<style>
		.selected {
			background: yellow;
		}
		</style>
	</head>
	<body ng-controller="cartController">
		<h2>Cart</h2>

		
	
		<table border="1" width="80%">
			<tr>
				<th>Index</th>
				<th>Name</th>
				<th>Price</th>
				<th>Number</th>
				<th>Total</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="item in items" ng-mouseover="setCurrentRow($index)" ng-class="{selected: $index == currentRow}">
				<td>{{$index+1}}</td>
				<td>{{item.title}}</td>
				<td>{{item.price| currency}}</td>
				<td><input type="text" ng-model="item.quantity"></td>
				<td>{{item.price* item.quantity | currency}}</td>
				<td><button ng-click="remove($index);">Remove</button></td>
			</tr>
		</table>
		<button ng-click="add();">Add more...</button>


		<div ng-controller="tController">
			<button ng-click="toggleMenu()">Show/hide</button>
			<div ng-show="menuState">
				S: <span ng-bind="t_name"></span><br />
				S: <span>{{t_name}}</span><br />
				<input type="text" ng-model="t_name" />
			</div>
		</div>


		<script src="./scripts/angular/angular.min.js"></script>
		<script src="./scripts/cart.js"></script>
	</body>
</html>