<!doctype html>
<html ng-app="cartApp">
	<head>
		<link rel="stylesheet" type="text/css" href="styles/todo.css">
	</head>
	<body ng-controller="cartController">
		<h2>Cart</h2>

		<div ng-repeat="item in items">
			{{$index+1}}, 
			{{$first}}, {{$middle}}, {{$last}}
			<span>{{item.title}}</span>
			<input type="text" ng-model="item.quantity">
			<span>{{item.price| currency}}</span>
			<span>{{item.price* item.quantity | currency}}</span>
			<button ng-click="remove($index);">Remove</button>

		</div>
		<button ng-click="add();">Add more...</button>

		<div ng-controller="tController">
			<button ng-click="toggleMenu()">Show/hide</button>
			<div ng-show="menuState">
				S: <span ng-bind="t_name"></span><br />
				S: <span>{{t_name}}</span><br />
				<input type="text" ng-model="t_name" />
			</div>
		</div>


		<script src="./scripts/angular/angular.min.js"></script>
		<script src="./scripts/cart.js"></script>
	</body>
</html>