<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<script src="./js/angular/angular.min.js"></script>
</head>
<body>



<p>We can access: {{ rootProperty }}</p>
<div ng-controller="ParentController">
	<p>We can access: {{ rootProperty }} and {{ parentProperty }}</p>
	<div ng-controller="ChildController">
		<p>
			We can access: {{ rootProperty }} 
			and {{ parentPropert }}
			and {{ childProperty }}
		</p>
		<p>
			{{ fullSentenceFromChild }}
		</p>
	</div>

</div>


	<div ng-controller="MyController">
		<label for="">Name:</label>
		<input type="text" ng-model="yourName" placeholder="Enter a name here" value="2011-12-12 13:14:32" />
		<hr />
		<h1>Hello {{ yourName | uppercase }}</h1>
		<h1>Hello {{ ['Ari', 'Lerner', 'Likes' ] | filter:'es' }}</h1>

		<input type="text" ng-model="theirUrl"/>
		<div my-dir kinch-url="theirUrl" my-link-text="click to open the book">testing</div>
		<!-- directive: my-dir -->
		<div ng-init="greeting='kinch'">{{ greeting }}</div>
	</div>


	<script>
	var app = angular.module("myApp", []);
	app.controller('MyController', ['$scope', '$filter', function($scope, $filter){

		$scope.yourName = 'Tue May 19 2015 22:51:12 GMT+0800 (CST)';
		// $scope.$watch('yourName', function(newV, oldV, scope) {
		// 	$scope.yourValue = $filter('number')(newV);
		// 	// console.log(newV, oldV, scope);
		// });
	}]);
	app.directive('myDir', function(){
		return {
			restrict: 'AM',
			replace: true,
			scope: {
				myUrl: '=kinchUrl',
				myLinkText: '@'
			},
			template: '<a href="{{ myUrl }}" title="{{ myUrl }}" target="_blank">[{{ myLinkText }} - {{ myUrl }}]</a>'
		};
	});

	app.run(function($rootScope){
		$rootScope.rootProperty = "root scope";
	});
	app.controller('ParentController', function($scope){
		$scope.parentProperty = "parent scope";
	})
	app.controller('ChildController', function($scope){
		$scope.childProperty = "child scope";
		$scope.fullSentenceFromChild = 'Same $scope: We can access: '+ $scope.rootProperty + " and "+ $scope.parentProperty + " and " + $scope.childProperty;
	});
	</script>
</body>
</html>