<!doctype html>
<html ng-app="todoApp">
	<head>
		<script src="./scripts/angular/angular.min.js"></script>
		<script src="./scripts/todo.js"></script>
		<link rel="stylesheet" type="text/css" href="styles/bootstrap-3.3.4/dist/css/bootstrap.min.css">
		<style>
			.done-true {
				text-decoration: line-through;
				color: grey;
			}
		</style>
	</head>
	<body ng-controller="TodoController">
		<div class="page-header">
			<h1>
				Todo list
				<span class="label label-default" ng-class="warningLevel()" ng-hide="remaining() == 0">{{remaining()}}</span>
			</h1>
		</div>
		<div class="panel" >
			<span>
				{{remaining()}} of {{todos.length}} remaining
			</span>
			[ <a href="" ng-click="archive()">archive</a> ]

			<div class="input-group">
				<input type="text" ng-model="todoText" size="30" placeholder="add new todo here" class="form-control" />
				<span class="input-group-btn">
					<input type="button" ng-click="addTodo()" class="btn btn-default" value="add" />
				</span>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<td>Done</td>
						<td>Description</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="todo in todos | checkedItems:showComplete | orderBy: 'text'">
						<td>
							<input id="todo_item_{{todo.text}}" type="checkbox" ng-model="todo.done">
						</td>
						<td>
							<label for="todo_item_{{todo.text}}" class="done-{{todo.done}}">{{todo.text}}</label>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="checkbox-inline">
				<label for="show_complete">
					<input id="show_complete" type="checkbox" ng_model="showComplete"> Show Complete
				</label>
			</div>
			
		</div>
	</body>
</html>